<div class="login-heder">
  <mat-card>
    <div class="logo-heder">
      <h2>REGISTER</h2>
    </div>
    <div class="form-input">
      <form class="example-form">
        <mat-form-field class="example-full-width" color="warn">
          <input matInput type="email" placeholder="Email">
        </mat-form-field>

        <mat-form-field class="example-full-width" color="warn">
          <input matInput type="password" placeholder="Password">
        </mat-form-field>

        <mat-form-field class="example-full-width" color="warn">
          <input matInput type="password" placeholder="Confrem Password">
        </mat-form-field>
      </form>
    </div>
    <br>
    <div class="example-button-row">
      <button mat-raised-button color="warn">REGISTER</button>
    </div>
    <div class="example-button-row">
      <a mat-button color="warn" routerLink="/login">LOGIN</a>
    </div>
  </mat-card>

</div>